O nosso conjunto de dados é descrito da seguinte forma:

|Atributo                                           |   Descrição   |
|---------------------------------------------------|:-------------:|
| Trip Duration                                     |   Duração da viagem em segundos |
| Start Time                                        |   Início da viagem |
| Stop Time                                         |   Fim da Viagem   |
| Start Station ID                                  |   Identificado da estação origem   |
| Start Station Name                                |   Nome da estação onde a viagem iniciou|
| Start Station Latitude / Start Station Longitude  |   Localização onde a viagem iniciou|
| End station id                                    |   Identificado da estação destino   |
| End Station Name                                  |   Nome da estação onde a viagem terminou|
| End Station Latitude / End Station Longitude      |   Localização onde a viagem terminou   |
| Bike ID                                           |   Identificado da bicicleta  |
| User Type                                         |   Customer = passe de 24 horas ou 3 dias; Subscriber = Membro Anual |
| Birth Year                                        |   Ano de nascimento|
| Gender                                            |   0 = desconhecido; 1 = masculino; 2 = feminino |

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 100)   # Mostra todas as colunas do dataset

In [ ]:
df = pd.read_parquet('/content/drive/MyDrive/Projeto UFRJ-Analytica/citibike2016-2019.parquet')   #carregando dados na variavel df

In [ ]:
df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,283.0,3/31/2016 09:15:31,3/31/2016 09:20:14,382.0,University Pl & E 14 St,40.734927,-73.992005,491.0,E 24 St & Park Ave S,40.740964,-73.986022,21566.0,Subscriber,-1992.0,1.0,NaN,None,None,NaN,None,NaN,NaN,NaN,None,NaN,NaN,NaN,None,NaN,NaN
1,392.0,9/5/2016 16:43:30,9/5/2016 16:50:03,3109.0,Banker St & Meserole Ave,40.726060,-73.956210,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,14670.0,Subscriber,-1991.0,2.0,NaN,None,None,NaN,None,NaN,NaN,NaN,None,NaN,NaN,NaN,None,NaN,NaN
2,705.0,4/17/2016 13:16:39,4/17/2016 13:28:25,354.0,Emerson Pl & Myrtle Ave,40.693631,-73.962236,242.0,Carlton Ave & Flushing Ave,40.697787,-73.973736,21494.0,Subscriber,1979.0,1.0,NaN,None,None,NaN,None,NaN,NaN,NaN,None,NaN,NaN,NaN,None,NaN,NaN
3,535.0,5/2/2016 17:59:46,5/2/2016 18:08:42,517.0,Pershing Square South,40.751581,-73.977910,357.0,E 11 St & Broadway,40.732618,-73.991580,22901.0,Subscriber,1984.0,1.0,NaN,None,None,NaN,None,NaN,NaN,NaN,None,NaN,NaN,NaN,None,NaN,NaN
4,286.0,2/6/2016 18:27:29,2/6/2016 18:32:16,490.0,8 Ave & W 33 St,40.751551,-73.993934,446.0,W 24 St & 7 Ave,40.744876,-73.995299,21254.0,Subscriber,1981.0,1.0,NaN,None,None,NaN,None,NaN,NaN,NaN,None,NaN,NaN,NaN,None,NaN,NaN

### Descartando colunas duplicadas

In [ ]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'Trip Duration', 'Start Time', 'Stop Time',
       'Start Station ID', 'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [ ]:
# Fazendo cópia das colunas de interesse e descartando as duplicadas
df = df[['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']].copy()

In [ ]:
# Renomeando colunas
df = df.rename(columns={'start station id':'start_station_id',
                   'start station name':'start_station_name',
                   'start station latitude':'start_station_latitude',
                   'start station longitude': 'start_station_longitude',
                   'end station id':'end_station_id',
                   'end station name':'end_station_name',
                   'end station latitude':'end_station_latitude',
                   'end station longitude':'end_station_longitude',
                   'birth year': 'birth_year'})

In [ ]:
df.head(5)

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,283.0,3/31/2016 09:15:31,3/31/2016 09:20:14,382.0,University Pl & E 14 St,40.734927,-73.992005,491.0,E 24 St & Park Ave S,40.740964,-73.986022,21566.0,Subscriber,-1992.0,1.0
1,392.0,9/5/2016 16:43:30,9/5/2016 16:50:03,3109.0,Banker St & Meserole Ave,40.726060,-73.956210,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,14670.0,Subscriber,-1991.0,2.0
2,705.0,4/17/2016 13:16:39,4/17/2016 13:28:25,354.0,Emerson Pl & Myrtle Ave,40.693631,-73.962236,242.0,Carlton Ave & Flushing Ave,40.697787,-73.973736,21494.0,Subscriber,1979.0,1.0
3,535.0,5/2/2016 17:59:46,5/2/2016 18:08:42,517.0,Pershing Square South,40.751581,-73.977910,357.0,E 11 St & Broadway,40.732618,-73.991580,22901.0,Subscriber,1984.0,1.0
4,286.0,2/6/2016 18:27:29,2/6/2016 18:32:16,490.0,8 Ave & W 33 St,40.751551,-73.993934,446.0,W 24 St & 7 Ave,40.744876,-73.995299,21254.0,Subscriber,1981.0,1.0

### Podemos verificar que na coluna 'birth_year' existem alguns valores negativos o que não faz muito sentido. Devemos ter valores positivos.

In [ ]:
df['birth_year']

0         -1992.0
1         -1991.0
2          1979.0
3          1984.0
4          1981.0
            ...
778018        NaN
1969976    1993.0
2781059    1994.0
843360        NaN
73132      1988.0
Name: birth_year, Length: 5000000, dtype: float64

In [ ]:
df ['birth_year'] = df['birth_year'].abs()    # Tomando o modulo dos valores de birth_year
df['birth_year']

0          1992.0
1          1991.0
2          1979.0
3          1984.0
4          1981.0
            ...
778018        NaN
1969976    1993.0
2781059    1994.0
843360        NaN
73132      1988.0
Name: birth_year, Length: 5000000, dtype: float64

### Verificando valores NaN values e linhas duplicadas

In [ ]:
df.shape

(5000000, 15)

In [ ]:
df.isna().sum()   # Mostra o total de valores NaN em cada coluna

tripduration               495984
starttime                  495984
stoptime                   495984
start_station_id           496168
start_station_name         496168
start_station_latitude     495984
start_station_longitude    495984
end_station_id             496168
end_station_name           496168
end_station_latitude       495984
end_station_longitude      495984
bikeid                     495984
usertype                   495984
birth_year                 728368
gender                     495984
dtype: int64

In [ ]:
df = df.dropna(how='all', inplace=False)  # Remove linhas onde não há nenhuma informação

In [ ]:
df.isna().sum() # Mostra onde ainda temos valores ausentes

tripduration                    0
starttime                       0
stoptime                        0
start_station_id              184
start_station_name            184
start_station_latitude          0
start_station_longitude         0
end_station_id                184
end_station_name              184
end_station_latitude            0
end_station_longitude           0
bikeid                          0
usertype                        0
birth_year                 232384
gender                          0
dtype: int64

### Verificando datas

In [ ]:
# Passando valores das datas de float para tipo date
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])

# Alterando coluna de duração de viagem para minutos
df['tripduration'] = df['tripduration']/60.
df = df.rename(columns={'tripduration':'tripduration(min)'})

In [ ]:
df.head(5)

,tripduration(min),starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,4.716667,2016-03-31 09:15:31,2016-03-31 09:20:14,382.0,University Pl & E 14 St,40.734927,-73.992005,491.0,E 24 St & Park Ave S,40.740964,-73.986022,21566.0,Subscriber,1992.0,1.0
1,6.533333,2016-09-05 16:43:30,2016-09-05 16:50:03,3109.0,Banker St & Meserole Ave,40.726060,-73.956210,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,14670.0,Subscriber,1991.0,2.0
2,11.750000,2016-04-17 13:16:39,2016-04-17 13:28:25,354.0,Emerson Pl & Myrtle Ave,40.693631,-73.962236,242.0,Carlton Ave & Flushing Ave,40.697787,-73.973736,21494.0,Subscriber,1979.0,1.0
3,8.916667,2016-05-02 17:59:46,2016-05-02 18:08:42,517.0,Pershing Square South,40.751581,-73.977910,357.0,E 11 St & Broadway,40.732618,-73.991580,22901.0,Subscriber,1984.0,1.0
4,4.766667,2016-02-06 18:27:29,2016-02-06 18:32:16,490.0,8 Ave & W 33 St,40.751551,-73.993934,446.0,W 24 St & 7 Ave,40.744876,-73.995299,21254.0,Subscriber,1981.0,1.0